/* Box Model Hack */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
   
   /* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
   
.clear{
     clear: both;
}
   
   /******************************************
    /* LAYOUT
   /*******************************************/
html{
     font-size: 17px;
     overflow-y: scroll;
}
body{
     font-family: 'Roboto', sans-serif;
     font-family: 'Ropa Sans', sans-serif;
     background: whitesmoke;
}
header{
     font-family: 'Ropa Sans', sans-serif;
}
a{
     text-decoration: none;
}
h1,h2,h3,h4{
     color: #000;
}
.button{
     border: 2px solid white;
     padding: 12px;
     color: white;
     transition: padding 1s;
}
.button:hover{
     padding: 30px;
}

   /* header and nav bar  */
nav{
     background:#000;
     color: #fff;
     display: flex;
     justify-content: space-between;
}
nav .mainMenu{
     display: flex;
     list-style: none;
}
nav .mainMenu li a{
     display: inline-block;
     padding: 15px;
     text-decoration: none;
     text-transform: uppercase;
     color: white;
     font-size: 1.5rem;
     
}
nav .mainMenu li a:hover {
     color: orange;
}
nav .openMenu { 
     font-size: 2rem;
     margin: 20px;
     display: none;
     cursor: pointer; 
}
nav .mainMenu .closeMenu , .icons i {
     font-size: 2rem;
     display: none;
     cursor: pointer;
}
.fa-facebook:hover{color: rgb(37, 116, 219);}
.fa-twitter:hover{color: rgb(86,154 , 242);}
.fa-instagram:hover{color: rgb(235, 81, 235);}
.fa-github:hover{color: rgb(231, 128, 60);}
   
nav .logo{
     margin: 6px;
     font-size:25px;
     cursor: pointer;
}
.logo img{
     width: 40px;

}

   /* Content page */
#first-page{
     background-image: url(../Img/alexander-naglesta\ first\ page.jpg);
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     transition: padding 5s;
}

#first-page h1{
     /* margin-bottom: 100px; */
     font-size: 3rem;
     text-align: center;
}

.button:hover{
     background: white;
     color: black;
}
#second-page{
     background: rgb(231, 188, 133);
     height: 300px;

}

.innerSecond{
     padding-block: 40px;
     padding-inline: 50px;
     display: flex;
     text-align: center;
     flex-direction: column;
     align-items: center;
     /* background-image: url(../Img/weeee.JPG); */
}

#thirdPage .gallery-item{
     height: 300px;
}

#fourthPage{
     text-align: center;
     margin: 70px;

}
#fourthPage p{
     font-size: 2rem;
}
#fourthPage h3, .imgLinkToSocial, i, p, button{
     margin-top: 35px;

}
#fourthPage > p{
     font-style: italic;
}
.imgLinkToSocial {
     display: flex;
     justify-content: center;
}
.imgLinkToSocial img{
     display: flex;
     justify-content: center;
     width: 200px;
     height: 300px; 
}
.imgLinkToSocial a{
     margin: 10px;
}
#fourthPage i{
     font-size: 4rem;
}
.contactButton{
     padding: 10px;
     border: 2px solid black;
     transition: padding 1s;
     margin-bottom: 10px;
}

.contactButton:hover{
     color: white;
     background: black;
     padding: 17px;
}



footer{
     background: #000;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-bottom: 30px;
}
footer img{
     width: 150px;
     margin-bottom: 0px;
}
footer i{
     font-size: 1.5rem;
     margin: 0;
}
footer .mainMenu{
     display: flex;
     list-style: none;
}
footer .mainMenu li a{
     display: inline-block;
     padding: 20px;
     text-decoration: none;
     text-transform: uppercase;
     color: rgba(255, 166, 0, 0.233);
     font-size: .9rem;
     margin: -10px;
     
}
footer .mainMenu li a:hover {
     color: orange;
}

/* What we do page */

img{
     max-width: 100%;
     height: auto;
}
.gallery{
     margin: 0 0.65rem
}
.gallery-item{
     height: auto;
     margin: 0.5rem;
}
 .gallery-item img{
     width:100%;
     height: 100%;
     object-fit: cover;
}

/* OUR BRNDS */
#headingImgBrands{
     background-image: url(../Img/alexander-naglesta\ first\ page.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 200px;
     justify-content: center;
     align-items: center;
}
#headingImgBrands>h2{
     justify-content: center;
     text-align: center;
     text-transform: capitalize;
     color: white;
     padding-block-start: 60px;
     font-size: 2rem;
}
#brandFirstPage{
     text-align: center;
     padding-inline: 200px;
     font-size: large;
     margin-block: 35px;
     padding-block: 40px;
     border-bottom: 1px solid black;
     
}
#brandFirstPage h1{
     font-size: 4rem;
}
.brandFirstPageInnerSection p{
     padding-inline: 70px;
     color: rgba(0, 0, 0, 0.564);
     justify-content: center;
}
.brandSecondPageInnerSection{
     margin-block-start: 100px;
}
.brandSecondPageInnerSection h2{
     text-align: center;
     color: rgba(203, 178, 35, 0.604);
     margin-block-end: 40px;
}
.brandLittleImages{
     display: grid;
     justify-content: center;
     grid-template-columns: repeat(5,1fr);
     gap: 10px;
}


.brandLittleImages img{
     width: 300px;
     height: 200px; 
}


/* contact us page  */
#formPage{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
background: rgb(231, 188, 133);
}
.contactForm{
     display: flex;
     flex-direction: column;
     margin-inline: 10%;
     margin-block:10px ;
     text-align: left;
     
}
.contactForm input{
     padding: 20px;
     margin-block-end: 20px;
}
.contactForm label{
     justify-content:flex-start;
}
#writeYourMessage{
     padding-bottom: 100px;
}
.contactForm button{
     padding: 12px;
     margin-inline: 30%;

}

@media(max-width: 800px){
     nav .mainMenu {
       height: 100vh;
       position: fixed;
       top: 0;
       right: 0;
       left: 0;
       z-index:10;
       flex-direction: column;
       justify-content: center;
       align-content: center;
       background: black;
       transition: top 1s ease;
       display: none;
     }
     nav .mainMenu .closeMenu{
       display: block;
       position: absolute;
       top:20px;
       right: 20px;
     }
     nav .openMenu{
       display: block;
     }
     nav .mainMenu li a:hover{
       background: none;
       color: rgb(223, 110, 34);
       font-size: 1.6rem;
     }
     .icons i{
       display: inline-block;
       padding: 40px;
     }
     #thirdPageImage{
          display: block;
          margin: 0 auto;
          width: 100%;
          height: 70vh;
          padding: 40px;
     }
     .imgLinkToSocial{
          display: grid;
          grid-template-columns: repeat(2,1fr);
     }

     #brandFirstPage{
          padding: 0;
     }
     .brandLittleImages{
          grid-template-columns: repeat(3,1fr);
          gap: 10px;
          padding-inline: 25px;
     }
     .imgLinkToSocial img{
          width: 200px;
          height: 200px; 
     }
     
     footer .mainMenu li a {
          color: orange;
     }
   
}

@media(max-width: 430px){
     html{
          font-size: 13px;
     }
     .icons i{
          padding: 30px;
     }

     /* thirdpage */
     .gallery-item img{
          max-width: 100%;
          height: auto;
     }
     #thirdPage{
          margin-inline: 0.06rem; 
     }
     .gallery-item{
          height:auto;
          margin:0.5rem;
     }
     .gallery-item .innerGallery{
          width: 100%;
          height: 100%;
          object-fit: cover;

     }
     #fourthPage{
          margin:0;
     }
     .imgLinkToSocial{
          display: grid;
          grid-template-columns: repeat(1fr);
          padding: 0;
          gap: 0.2rem;
     }
     .imgLinkToSocial img{
          width: 100%;
     }
     .gallery{
          display: grid;
     }
     .brandLittleImages{
          grid-template-columns: repeat(2,1fr);
          gap: 0.2rem;
          padding-inline: 20px;
     }
}

@media (min-width: 900px) {
     .gallery{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4,700px);
          grid-auto-flow: row dense;
     }
     .gallery-item{
          margin: 0.7rem;
     }
     .gallery-item:first-child{
          grid-row: span 1;
     }
}  
/******************************************/
/*******************************************/

   
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

